{% extends "base.html" %}

{% block content %}
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h4 mb-0 text-gray-800">{{ heading }}</h1>
        </div>
        <div>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.threshold(size=64, class="form-control", placeholder="Schwellenwert") }}
                    {% for error in form.threshold.errors %}
                         <div class="text-center small">
                             <p style="color: #e74a3b;">{{ error }}</p>
                         </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary btn-user btn-block") }}
                </div>
            </form>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
               <div class="text-center small">
                    {% for message in messages %}
                    <p style="color: #1cc88a">{{ message }}</p>
                    {% endfor %}
               </div>
            {% endif %}
        {% endwith %}
{% endblock %}
