{% extends "credentials.html" %}

{% block content %}
    <div class="container-fluid my-5" style="word-wrap: normal">

          <!-- 404 Error Text -->
          <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-3">Seite nicht gefunden</p>
            <p class="text-gray-500 mb-0">Auf dieser Seite solltest du eigentlich nicht sein...</p>
            <a href="{{ url_for('main.index') }}">← Zurück</a>
          </div>

        </div>
{% endblock %}