{% extends "credentials.html" %}

{% block content %}
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Jetzt registrieren!</h1>
                  </div>
                  <form action="" method="post" novalidate class="user">
                      {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.name(size=64, class="form-control form-control-user", placeholder="Versuchsbezeichner") }}
                        {% for error in form.name.errors %}
                         <div class="text-center small">
                          <p style="color: #e74a3b;">{{ error }}</p>
                         </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="form-group">
                        {{ form.username(size=64, class="form-control form-control-user", placeholder="Nutzername") }}
                        {% for error in form.username.errors %}
                         <div class="text-center small">
                          <p style="color: #e74a3b;">{{ error }}</p>
                         </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.password(size=128, class="form-control form-control-user", placeholder="Passwort") }}
                        {% for error in form.password.errors %}
                         <div class="text-center small">
                          <p style="color: #e74a3b;">{{ error }}</p>
                         </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.password2(size=128, class="form-control form-control-user", placeholder="Passwort wiederholen") }}
                        {% for error in form.password2.errors %}
                         <div class="text-center small">
                          <p style="color: #e74a3b;">{{ error }}</p>
                         </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                          {{ form.accept_tos(class="custom-control-input") }}
                        <label class="custom-control-label" for="accept_tos">Ich habe die <a href="#" data-toggle="modal" data-target="#tosModal">Nutzungsbedingungen</a> gelesen und akzeptiere diese.</label>
                        {% for error in form.accept_tos.errors %}
                         <div class="text-center">
                          <p style="color: #e74a3b;">{{ error }}</p>
                         </div>
                        {% endfor %}
                      </div>
                    </div>
                      {% with messages = get_flashed_messages() %}
                        {% if messages %}
                           <div class="text-center small">
                                {% for message in messages %}
                                <p style="color: #e74a3b">{{ message }}</p>
                                {% endfor %}
                           </div>
                        {% endif %}
                        {% endwith %}
                      {{ form.submit(class="btn btn-primary btn-user btn-block") }}
                  </form>
                </div>
              </div>
            </div>
{% endblock %}