<div class="container my-auto">
    <div class="copyright text-center mb-1">
        <span>Kinetosis Detector - Copyright &copy; Samuel Blickle 2020</span>
    </div>
    <div class="copyright text-center mt-2">
        <a href="https://gitlab.com/SamuelBlickle/kinetosis-detector">Fork me on GitLab</a> - MIT License
    </div>
</div>